*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.main-login{
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first , .second{
    width: 350px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 7px 40px;
    margin-top: 20px;
    border-radius: 8px;
}
.first h1{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.first button{
    width: 260px;
    font-weight: 600;
    font-size: 16px;
    padding: 13px 20px;
    border-radius: 7px;
    margin: 7px auto;
    color: white;
    background-color: #0095f6;
    border: none;
    cursor: pointer;
}
.first input{
    width: 260px;
    height: 35px;
    padding-left: 5px;
    margin-top: 7px;
    border-radius: 5px;
    border: 1px solid grey;
}
.first p{
    color: #345;
    font-size: 12px;
    margin: 10px 0px;

}
.first h1+p{
    color: rgb(126, 122, 122);
    font-size: 13px;
    font-weight: 600;
}
 a{
    text-decoration: none;
}
a i{
    margin-right:5px;
}
button:hover{
    background-color: #2ba5f7;
}