*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main{
    width: 350px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 7px 40px;
    margin-top: 20px;
    border-radius: 8px;
}

h1{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 10px 0px;
}

p{
    font-size: 22px;
    line-height: 30px;
    margin: 10px 0px;
}
button{
    width: 260px;
    font-weight: 600;
    font-size: 16px;
    padding: 13px 20px;
    border-radius: 7px;
    margin: 7px auto;
    color: white;
    background-color: #0095f6;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #2ba5f7;
}
a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
span{
    background: linear-gradient(90deg, rgb(231, 82, 23), rgb(146, 28, 230));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
button a{
    color: white;
}